<a href="https://colab.research.google.com/github/bob8dod/Sejong_Hackathon/blob/main/%EC%97%B0%EC%86%8D%EB%90%9C_Date_%EA%B2%80%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [23]:
data=pd.read_csv('/content/date.csv')
data.columns = ['index','Date']
data

    index        Date
0    3474  2018-03-07
1    3475  2018-03-08
2    3488  2018-03-27
3    3494  2018-04-05
4    3495  2018-04-06
5    3496  2018-04-09
6    3497  2018-04-10
7    3549  2018-06-29
8    3550  2018-07-02
9    3551  2018-07-03
10   3552  2018-07-05
11   3553  2018-07-06
12   3554  2018-07-09
13   3555  2018-07-10
14   3556  2018-07-11
15   3557  2018-07-12
16   3558  2018-07-13
17   3600  2018-09-13
18   3601  2018-09-14
19   3614  2018-10-10
20   3615  2018-10-11
21   3616  2018-10-12
22   3617  2018-10-15
23   3618  2018-10-16
24   3619  2018-10-17
25   3959  2020-03-19
26   3960  2020-03-20
27   3961  2020-03-23
28   3962  2020-03-24
29   3963  2020-03-25
30   4009  2020-06-05
31   4010  2020-06-08
32   4011  2020-06-09
33   4133  2020-12-08
34   4134  2020-12-09
35   4135  2020-12-10
36   4136  2020-12-11
37   4137  2020-12-14
38   4138  2020-12-15
39   4189  2021-03-08
40   4190  2021-03-09
41   4191  2021-03-10
42   4192  2021-03-11
43   4225  2021-04-28
44   4226  2021-04-29
45   4227  2021-04-30
46   4232  2021-05-10
47   4233  2021-05-11
48   4234  2021-05-12
49   4235  2021-05-13
50   4250  2021-06-07
51   4251  2021-06-08
52   4252  2021-06-09
53   4253  2021-06-10
54   4254  2021-06-11
55   4255  2021-06-14
56   4256  2021-06-15
57   4303  2021-08-23
58   4304  2021-08-24
59   4305  2021-08-25

In [24]:
date = []
for i in range(len(data)):
    if i-1 < 0:
        flag=0
        continue
    prev_idx = data.loc[i-1, 'index']
    prev_date = data.loc[i-1, 'Date']
    cur_idx = data.loc[i, 'index']
    cur_date = data.loc[i, 'Date']
    if cur_idx-prev_idx == 1:
        if flag == 0:
            start = prev_idx
            # print(prev_date)
            date.append(prev_date)
            flag=1
        if i == len(data)-1:
            end = cur_idx
            date.append(cur_date)
    else:
        if start==0:
            continue
        end= prev_idx
        # print(prev_date)
        date.append(prev_date)
        start = 0
        flag=0

result = []
for i in range(0,len(date),2):
    result.append([date[i], date[i+1]])

result

[['2018-03-07', '2018-03-08'],
 ['2018-04-05', '2018-04-10'],
 ['2018-06-29', '2018-07-13'],
 ['2018-09-13', '2018-09-14'],
 ['2018-10-10', '2018-10-17'],
 ['2020-03-19', '2020-03-25'],
 ['2020-06-05', '2020-06-09'],
 ['2020-12-08', '2020-12-15'],
 ['2021-03-08', '2021-03-11'],
 ['2021-04-28', '2021-04-30'],
 ['2021-05-10', '2021-05-13'],
 ['2021-06-07', '2021-06-15'],
 ['2021-08-23', '2021-08-25']]